page-otcrearmateriales {

    ion-input{
        border: 2px solid #222;
        margin:5px auto;
        border-radius: 10px !important;
        max-width: 87%; 
        max-height: 60%; 
        font-size: 13px;
    }


    ion-item .item-inner{
        border-bottom-color: #dedede;
        -webkit-box-shadow: none;
        box-shadow: none
       }
      

       .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #dedede;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .botonguardar{
        width: 60%;
        margin-left: 110px;
        border-radius: 15px !important;
    }

    .inputcorrectivoafect{
        border: 2px solid #222;
        margin:5px auto;
        border-radius: 10px !important;
        max-width: 75%; 
        max-height: 60%; 
        font-size: 13px;
        margin-left: 20px;

    }

    .inputdescactividad{
        border: 2px solid #222;
        margin:5px auto;
        border-radius: 10px !important;
        max-width: 87%; 
        max-height: 60%; 
        font-size: 13px;
        margin-left: 4px;

    }

    .inputpieza{
        border: 2px solid #222;
        margin:5px auto;
        border-radius: 10px !important;
        max-width: 82%; 
        max-height: 60%; 
        font-size: 13px;
        margin-left: 22px;

    }

    .inputdescpieza{
        border: 2px solid #222;
        margin:5px auto;
        border-radius: 10px !important;
        max-width: 87%; 
        max-height: 60%; 
        font-size: 13px;
        margin-left: 0px;

    }

    .busquedatransaccion{
        border: 2px solid #222;
        margin:3px auto;
        width: 273px;
        border-radius: 10px !important;
        font-size: 13px;
        height: 35px;
        text-align: center;
    }

    .busquedaalmacen{
        border: 2px solid #222;
        margin:3px auto;
        width: 273px;
        border-radius: 10px !important;
        font-size: 13px;
        height: 35px;
        text-align: center;
    }

    .busquedapieza{
        border: 2px solid #222;
        margin:3px auto;
        width: 273px;
        border-radius: 10px !important;
        font-size: 13px;
        height: 35px;
        text-align: center;
    }

}

.buttonCss {
    text-align:center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  
    button.alert-button.ok-button{
        color: rgb(255, 255, 255);
        border: 2px solid #222;
        border-radius: 15px !important;
        background-color: rgb(0, 0, 0);
    
        text-align:center;
        justify-content: center !important;
        align-items: center !important;
    }
  }

  .alert-ios .alert-md .alert-radio-label {
    white-space: normal !important;
}
