<!--
  Generated template for the OtrotacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="liberty">
    <ion-title text-right>Rotación equipos OT {{ot}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="saveData()">
    <ion-grid>
      <ion-item text-wrap no-lines>
        <ion-label color="dark" stacked>Objeto Original:<span danger>*</span></ion-label>
        <ion-select text-wrap interface="popup" formControlName="itemAntiguo" [(ngModel)]="itemAnt"
          class="busquedaestado">
          <ion-option text-wrap *ngFor="let itemAntiguo of itemsAntiguos" value="{{itemAntiguo.equipoantiguo}}">
            {{itemAntiguo.compequipoantiguo}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines>
        <ion-label color="dark" stacked>Estado Equipo:<span danger>*</span></ion-label>
        <ion-select interface="popover" formControlName="estadoEquipo" [(ngModel)]="itemEstado" class="busquedaestado">
          <ion-option *ngFor="let estadoEquipo of estadosEquipo" value="{{estadoEquipo.estadoequipo}}">
            {{estadoEquipo.estadoequipo}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines>
        <ion-label color="dark" stacked>Objeto Nuevo:<span danger>*</span></ion-label>
        <ion-select interface="popup" formControlName="itemNuevo" [(ngModel)]="itemNew" class="busquedaestado">
          <ion-option *ngFor="let itemNuevo of itemsNuevos" value="{{itemNuevo.equiponuevo}}">
            {{itemNuevo.compequiponuevo}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-col col-12>
        <ion-item no-lines>
          <ion-label color="dark" stacked>Descripcion:<span danger>*</span></ion-label>
          <ion-input text-center formControlName="descripcionEquipo" [(ngModel)]="descripcionEquipo"></ion-input>
        </ion-item>
      </ion-col>
      <ion-row>
        <div padding>
          <button class="botonguardar" ion-button color="dark" (click)="enviarRotacion()" [disabled]="!myForm.valid"
            rounded>Enviar Rotación y <br />Salir</button>
        </div>
      </ion-row>
      <ion-row>
        <div padding>
          <button class="botonguardarotro" ion-button color="dark" (click)="enviarRotacionAgregarOtra()"
            [disabled]="!myForm.valid" rounded>Enviar Rotación y <br />Rotar Otro AF</button>
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>